.main-header {
  position: relative;
  background-color: saddlebrown;
  color: white;
  text-align: center;
  padding: 20px;
}

.datetime-header {
  position: absolute;
  top: 90px;
  right: 20px; 
  font-size: 13px;
  color: white;
}

header {
background-color:saddlebrown;
color:white;
text-align:center;
padding:20px;
}

nav {
line-height:20px;
background-color:peru;
height:1900px;
width:180px;
float:left;
padding:5px;
}

.wrapper {
width: 45%;
margin: 0 auto;
}

section {
width:700px;
padding:10px;
text-align: center;
}

footer {
background-color:saddlebrown;
color:white;
clear:both;
text-align:center;
padding:5px;
margin-top: 20px;
}

