body {
  margin: 0;
  background: linear-gradient(135deg, #fff7d6, #fce6c9);

  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(255,255,255,0.2),
      rgba(255,255,255,0.2) 2px,
      rgba(255,255,255,0.05) 2px,
      rgba(255,255,255,0.05) 12px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(255,255,255,0.15),
      rgba(255,255,255,0.15) 1px,
      rgba(255,255,255,0.05) 1px,
      rgba(255,255,255,0.05) 10px
    );
    
  background-size: cover;
}

  .home-link img:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
    cursor: pointer;
    opacity: 0.8;
  }

  .stress-text {
    color: saddlebrown;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
  }

  .edu-section {
    width: 90%;
    margin: auto;
    padding: 30px 0;
    text-align: center;
  }

  .edu-box {
    background: #f7f4d4;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08); 
    margin-bottom: 30px;
  }

  .edu-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  .edu-block img {
    width: auto;
    max-width: 230px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #9b7617;
  }

  .edu-text {
    max-width: 500px;
    text-align: left;
  }

  .edu-text-right {
    text-align: right;
  }

  .edu-content {
    text-align: justify;
    margin-left:0;
    line-height: 1.7;
  }