.home-link img:hover {
transform: scale(1.2);
transition: 0.3s ease;
cursor: pointer;
opacity: 0.8;
}

.section {
background: gainsboro;
padding: 20px;
margin-bottom: 20px;
border-radius: 10px;
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
text-align: center;
transition: background 0.3s ease;
}

.section img {
width: 250px;
height: auto;
border-radius: 10px;
}

.section:hover {
background: #a6a6a6;
}

.text {
flex: 1;
text-align: justify;
}

h3 {
margin-top: 0;
}

.section:nth-child(even) {
flex-direction: row-reverse;
}
