
.datetime-fixed {
  position: absolute;
  right: 30px;
  top: 110px;
  font-size: 13px;
  color: #6a662f;
  z-index: 999;
}

body {
  margin: 0;
  background-color: #fef9f0;
  background-image: repeating-linear-gradient(
    135deg,
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.2) 2px,
    rgba(255,255,255,0.05) 2px,
    rgba(255,255,255,0.05) 8px
  );
  background-size: cover;
}


       .home-link img:hover {
            transform: scale(1.2);
            transition: 0.3s ease;
            cursor: pointer;
            opacity: 0.8;
        }

        .achievements-section {
            width: 90%;
            margin: auto;
            padding: 30px 0;
            text-align: center;
        }

        .early-achievements {
            background-color: #d7d4a7;
            width: 60%;
            margin: auto;
            padding: 20px 25px;
            border-radius: 14px;
            text-align: center;
            color: #4a2f2a;
            box-shadow: 0 3px 8px rgba(0,0,0,0.12);
        }

        .early-achievements h2 {
            color: #6b3f2d;
        }

        .early-achievements ul {
            list-style: disc;
            list-style-position: inside;
            display: inline-block;
            text-align: left;
            padding: 0;
            margin: 0;
        }

        .early-achievements ul li {
            font-size: 18px;
            margin-bottom: 6px;
        }

        .early-achievements small {
            color: #8a6b62;
            font-size: 14px;
        }

        .early-achievements p {
            margin-top: 15px;
            font-size: 16px;
        }

        .achievements-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
	
	.achieve-card {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    gap: 15px;
	    margin: 50px 0;
	}

	.card-img {
	    max-width: 200px;
	    width: 50%;
	    height: auto;
	    border-radius: 12px;
	    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
	}

	.achieve-text-center {
	    text-align: center;
	    max-width: 400px;
	    color: #4a2f2a;
	}

	.prep-gallery {
	    display: flex;
	    justify-content: center;
	    gap: 15px;
	    flex-wrap: wrap;
	}

	.prep-item {
	    text-align: center;
	    max-width: 180px;
	}

	.prep-item img {
	    width: 100%;
	    border-radius: 12px;
	    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    	    margin-bottom: 6px;
	}

